.htaccess
/web/sites/default/files/php/twig/
/web/sites/default/files/*
/web/sites/default/files/

/web/sites/default/files/css/
/web/sites/default/files/js/


/web/core
/web/libraries
/web/modules/contrib
/web/profiles/contrib
/web/themes/contrib
/web/sites/default/files
/drush/contrib/
/.drush-lock-update

# Ignore Composer-managed dependencies.
vendor/

# Ignore scaffold files
web/.csslintrc
web/.editorconfig
web/.eslintignore
web/.eslintrc
web/.gitattributes
web/.htaccess
web/.ht.router.php
web/autoload.php
web/index.php
web/robots.txt

web/update.php
web/web.config

/web/sites/default/default.services.pantheon.preproduction.yml
/web/sites/default/default.services.yml
/web/sites/default/default.settings.php

/web/sites/development.services.yml
/web/sites/example.settings.local.php
/web/sites/example.sites.php

/web/sites/default/settings.local.php
/web/sites/default/services.local.yml

# sql backups
/mariadb-init
/private/
.tarballs
.tarballs/*

# editors files
.idea/
.vscode/

# Tome export directories.
files/

# OS-specific files
.DS_Store

# Twig-CS-Fixer cache file
.twig-cs-fixer.cache