<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ head_title|safe_join(' | ') }}</title>
  {{ attach_library('mytheme/global-styling') }}
</head>
<body style="background: #dedede;">
  <header>
    {{ page.header }}
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    {{ page.footer }}
  </footer>
</body>
</html>
