{% set service_features = [] %}

{% for detail in content.field_service_details %}
  {% set paragraph = detail['#paragraph'] %}

  {% if paragraph.field_features is defined and paragraph.field_features.value %}
    {% set service_features = service_features|merge([paragraph.field_features.value]) %}
  {% endif %}

  {% if paragraph.field_details is defined and paragraph.field_details.value %}
    <p>Details: {{ paragraph.field_details.value }}</p>
  {% endif %}
{% endfor %}

{% set combined_features = service_features|join(', ') %}
<strong>Service features in a single string.</strong>
<p>Service Features: {{ combined_features }}</p>
